API_ID=22266643
API_HASH=7d0b85b4146034511b8776ed7ff99de4
BOT_TOKEN=8925159053:AAFDC38VK4EmTNJq1CW4a6nd7-umVeOWCHg


MONGODB_URI=mongodb+srv://hemanthbreaker2027:9550399779htr@cluster0.haybbxg.mongodb.net/?appName=Cluster0
REDIS_URL=


OWNER_ID=8663988850
ADMINS=8663988850
CHANNEL_ID=  # For log storage (optional)
FORCE_SUB_CHANNELS=


BASE_URL=
PORT=8000
DEBUG=True

DEFAULT_EXPIRY=24

SESSIONS=2
