# Telegram API Credentials
API_ID=22266643
API_HASH=7d0b85b4146034511b8776ed7ff99de4
BOT_TOKEN=8925159053:AAFDC38VK4EmTNJq1CW4a6nd7-umVeOWCHg

# Database Configuration
MONGODB_URI=mongodb+srv://hemanthbreaker2027:9550399779htr@cluster0.haybbxg.mongodb.net/?appName=Cluster0
REDIS_URL=

# Bot Settings
OWNER_ID=8663988850
ADMINS=8663988850
CHANNEL_ID=  # For log storage (optional)
FORCE_SUB_CHANNELS=

# Server Configuration
BASE_URL=
PORT=8000
DEBUG=True

# Link Expiry (in hours, 0 for never)
DEFAULT_EXPIRY=24

# Telethon Multi-Session (Optional)
# List of session strings or paths to .session files
OWNER_ID=8663988850
